@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
  }

body{
   min-height: 100vh; 
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #F1F6FC;
}

.container{
   position: relative;
   max-width: 700px;
   width: 100%;
   background: #7bcbfa;
   padding: 25px;
   border-radius: 8px;
   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.container header{
   font-size: 2rem;
   color: #333;
   font-weight: 500;
}

.container .form {
   margin-top: 20px; /*era 30px*/
}

.form .input-box{
   width: 100%;
   margin-top: 10px; /*era 20px*/
}

.input-box label{
   color: #333;
}

.form .input-box input{
   position: relative;
   height: 40px; /*era 50px*/
   width: 100%;
   outline: none;
   font-size: 1rem;
   color: #707070;
   margin-top: 8px;
   border: 1px solid #ddd;
   border-radius: 6px;
   padding: 0 15px;
}

.form .column{
   display: flex;
   column-gap: 15px;
}

.form button{
   height: 55px;
   width: 100%;
   color: white;
   font-size: 1rem;
   border: none;
   margin-top: 30px;
   cursor: pointer;
   border-radius: 6px;
   font-weight: 400;
   transition: all 0.2s ease;
   background-color: #cf64c1;
}

/* Responsive */

@media screen and (max-width: 500px){
   .form .column{
       flex-wrap: wrap;
    }
}